#contact {
  display: grid;
  place-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 400px;
  background-color: rgb(240, 248, 255);
  padding: 1rem;
  border-radius: 10px;
  color: #333;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid #333;
  width: 100%;
}

.contact-form textarea {
  resize: none;
  height: 7rem;
}

.contact-form button {
  margin-top: 1rem;
}
